@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<CascadingValue Value="this">
    <CascadingAuthenticationState>
       
        <div class="main">
            @if (_showNavbar)
            {
                <NavigationBar />
            }

            <div class="content px-4">
                @Body
            </div>
        </div>
    </CascadingAuthenticationState>

</CascadingValue>

@code
{
    public bool _showNavbar = false;

    public void ShowNavbar(bool show)
    {
        _showNavbar = show;
        StateHasChanged();
    }
}