<EditForm Model="Answer">
    <li class="list-group-item">
        <strong> A. </strong>

        <span>
            @if (Editting)
            {
                <InputText id="text" class="form-control" @bind-Value="Answer.AnswerText" />
            }
            else
            {
                @Answer.AnswerText
            }
        </span>
    </li>
</EditForm>
